<nav style="background-image: url('<%= asset_path('banner.png') %>'); background-size: cover; background-position: center;" class="h-40">
  <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
    <ul class="flex space-x-8 text-white">
      <% if user_signed_in? %>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Profile", profile_path %></li>
        <li><%= link_to "Explore Pet Sitters", "#" %></li>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete } %></li>
      <% else %>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Learn More", "#" %></li>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <li><%= link_to "Log In", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
